.form {
    height: 1000px;
    width: 50%;
    background-color: burlywood;
    margin: 0 auto;
    text-align: center;
}

.form h1{
    padding-top: 20px;
}

.btn {
    background-color: gray;
    height: 30px;
    width: 20px;
    padding: 5px;
    border-radius: 4px;
    /* display: inline; */
    white-space: initial;

}

.btn i {
    font-size: 18px;
}

.child_form .text {
    width: 60%;
    height: 20px;
    margin-top: 40px;
    display: inline;
}

.child_form .icon{
    
    border: none;
    border-bottom: 2px red solid;
    outline: none;

}
.child_form .email {
    background: url("../images/noun-mail-4547835.svg") no-repeat left;
    padding-left: 25px;
    background-size: 30px;
}

.child_form .password {
    padding-left: 25px;
    background: url("../images/noun-password-4436788.svg") no-repeat left;
    background-size: 26px;
}

.rep{
    margin: 20px 0 20px 0;
}
.rep input {
    width: 40%;
    margin: 10px;
    display: inline;
    /* margin: 20px 0 20px 0; */
}

.rep .person {
    padding-left: 25px;
    background: url("../images/noun-person-1258683.svg") no-repeat left;
    background-size: 20px;
}

.select select{
    width: 65%;
    margin: 20px 0 20px 0;
    height: 30px;
}

.register-btn{
    margin: 20px 0 0 20px;
    height: 40px;
    width: 30%;
    float: left;
    /* outline: none; */
    border: none;
    border-radius: 5px;
    background-color: white;
}
.register-btn:hover{
    background-color:burlywood ;
    border:2px red solid;
    color: white;
}

@media (max-width:700px) {
    .form {
        width: 70%;
    }

    .child_form input {
        margin-left: 0%;
    }

    .rep input {
        margin-top: 20px;
        width: 60%;
        margin-left: 2%;
    }
}